
__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
ENV/
env.bak/
venv.bak/


.ipynb_checkpoints/
output/adapted_logs.txt
output
detection/unknown_logs.txt

data/
datasets/
*.csv
*.tsv
*.jsonl
*.parquet

*.txt
detection/
output/

models/
checkpoints/
*.h5
*.hdf5
*.pt
*.pth
*.ckpt
*.onnx
*.pb

logs/
*.log
outputs/
results/
runs/          # PyTorch Lightning / TensorBoard
wandb/         # Weights & Biases

.cache/
*.cache
tmp/
temp/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

.pytest_cache/
.coverage
htmlcov/

.env
.env.*

notes_for_me
.venv
data


detection/unknown_logs.txt
output/adapted_logs.txt